<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Sticky Notes</title>
    <link rel="stylesheet" href="\static\style.css">
    
    
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
    {% for message in messages %}
     <center><li>{{ message }}</li></center>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form action="{{ url_for('login') }}" method="POST">
    <div class = "navigation">
        <ul>
            <li style="float:right"><a href="/">Logout</a></li>
        </ul>
        <h3><center>Welcome <u>{{ email[0] }}</center></u></h3>
    </div>
    </form>
    
    <br>
    <form action="{{ url_for('addsticky') }}" method = "POST">
    <div id="container">
        <textarea name="notetext" placeholder="Enter your sticky note text" rows="4" cols="50" x-webkit-speech></textarea>
    
        <select name ="notecolor" required>
                <option value ="red" default:"red">Red for Urgent Tasks</option>
                <option value ="yellow">Yellow for Medium priority</option>
                <option value ="green">Green for Low priority</option>
        </select>

        <button id= "add"> Add New </button>
    </form>
</div>
    <div class = "note-container">
            {% for note in notes %}
                <div class="note {{ note[3] }}">
                    <form action="/deletesticky/{{ loop.index0 }}" method="POST">
                        <input type="hidden" name="note_id" value="{{ note[0] }}">
                        <button id ="delete">Delete</button>
                    </form>
                    <br>
                    <br>
                    
                    {{ note[2] }}
                </div>
            {% endfor %}  
    </div>
</body>
</html>